<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{932,580}</string>
                <key>spriteSourceSize</key>
                <string>{932,580}</string>
                <key>textureRect</key>
                <string>{{0,0},{932,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{932,580}</string>
                <key>spriteSourceSize</key>
                <string>{932,580}</string>
                <key>textureRect</key>
                <string>{{932,0},{932,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{932,580}</string>
                <key>spriteSourceSize</key>
                <string>{932,580}</string>
                <key>textureRect</key>
                <string>{{0,580},{932,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{932,580}</string>
                <key>spriteSourceSize</key>
                <string>{932,580}</string>
                <key>textureRect</key>
                <string>{{932,580},{932,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{932,580}</string>
                <key>spriteSourceSize</key>
                <string>{932,580}</string>
                <key>textureRect</key>
                <string>{{0,1160},{932,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{932,580}</string>
                <key>spriteSourceSize</key>
                <string>{932,580}</string>
                <key>textureRect</key>
                <string>{{932,1160},{932,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>bear.png</string>
            <key>size</key>
            <string>{1864,1740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53a0773d9756b1b8b1087f670de282a8:28749330eb51865206af0c993ef49561:2904f34ed51771f70a05a1fbadbb6a19$</string>
            <key>textureFileName</key>
            <string>bear.png</string>
        </dict>
    </dict>
</plist>
